.containerMain {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.formMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 500px;
    max-width: 90%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    color: #ffffff;
}

.formMain strong {
    font-size: 22px;
    margin-bottom: 24px;
}

.formMain input {
    width: 90%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid lightgray;
    padding: 0px 15px;

}

button {
    all: unset;
    width: 111px;
    height: 32px;
    border-radius: 8px;

    background-color: #7695EC;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.formMain label {
    float: left;
    width: 90%;
    margin-bottom: 8px;
}

.btn-notuser {
    color: lightgray;
}

button:hover {
    transform: scale(1.1);
}