.containerDashborde {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/rocket.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bgImg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.container h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    padding: 5px 25px;
    border-radius: 15px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 0;
}

.container .formPost {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.507);
    color: #ffffff;
}

.container .formPost h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 5px 25px;
    border-radius: 15px;
    color: #ffffff;
}

.contentinput {
    height: 80px;
    width: 90%;
    float: left;
    clear: left;
    border-radius: 8px;
    border: 1px solid lightgray;
    padding: 5px 15px;
}

.contentinput::placeholder {
    top: -20px;
    float: left;
    clear: left;
}

.titleinput {
    width: 90%;
    height: 15%;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 0px 15px;
}

.btn-post {
    height: 50px;
    margin-bottom: 15px;
}

.container .containerComments {
    width: 50%;
    min-height: 40%;
    border-radius: 8px;
    padding: 5px 25px;
    background-color: rgba(0, 0, 0, 0.507);
    color: #ffffff;
}

.container .containerComments h2 {
    width: 95%;
    margin: 0;
    margin-bottom: 5px;
}

.containerTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerComments span {
    color: rgb(143, 143, 143);
}

.vector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    transition: 0.2s;
    cursor: pointer;

}

.vector img:hover {
    transform: scale(1.1);

}

.comments {
    width: 100%;
    height: 35%;
    overflow-y: scroll;
    text-align: justify;
}

.containerContents {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 15px;
    overflow-y: scroll;
}

.containerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.btnLogout {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 50px;
}

.btnLogout {
    width: 50px;
    height: 50px;
}

.btnLogout:hover {
    transform: scale(1.1);
}

@media (max-width: 375px) {
    .container h1 {
        width: 50%;
        margin-top: 0;
        margin-bottom: 25px;
    }

    .container form {
        width: auto;
        padding: 15px 5px;
    }

    .container form input {
        width: 80%;
    }

    .container form textarea {
        width: 80%;
    }

    .container form h1 {
        width: 90%;
        margin-bottom: 5px;
    }

    .container form label {
        padding: 0 10px;
    }

    .btn-post {
        margin-left: 15px;
    }

    .container .containerComments {
        width: 80%;
    }

}

@media (max-width:673px) {
    .container h1 {
        width: 50%;
        margin-top: 0;
        margin-bottom: 25px;
    }

    .container form {
        width: 70%;
        padding: 15px 5px;
    }

    .container form h1 {
        width: 90%;
        margin-bottom: 5px;
    }

    .container form label {
        padding: 0 10px;
    }

    .btn-post {
        margin-left: 15px;
    }

    .container .containerComments {
        width: 65%;
    }
}